.sectionTitle {
  text-align: right;
}

.paras {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 8rem;
}

.leftPara {
  max-width: 35%;
}

.rightPara {
  max-width: 35%;
  align-self: flex-end;
}

@media (max-width: 700px) {
  .paras {
    max-width: 80vw;
  }

  .leftPara {
    max-width: 100%;
    margin-left: 1.5rem;
  }

  .rightPara {
    max-width: 100%;
    text-align: right;
  }
}
