.faction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 10vw;
}
.elements {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex-basis: min-content;
}

@media (max-width: 700px) {
  .stellaronLogo {
    width: 40%;
    height: auto;
  }

  .team {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .elements {
    width: 15rem;
  }
}
