.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  height: 100%;
  width: 100%;
}

.allProgress {
  display: flex;
  flex-direction: column;
  font-family: var(--font-mono);
  position: absolute;

  font-size: 0.7rem;
  width: 55vw;
}

.loadingTxt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loadingNumber {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

@media (max-width: 700px) {
  .loadingTxt {
    flex-direction: column;
  }
  .mask {
    transform: rotateZ(90deg);
    height: 45vh;
    width: auto;
  }
}
