.navMenu {
  padding-right: 3rem;
}

.navMenu:hover {
  background-color: #8054ce;
  color: black !important;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.1rem;
  max-width: var(--max-width);
  width: fit-content;
  z-index: 3;
  font-family: var(--font-mono);
  position: absolute;
}

.description ul {
  line-height: 2em;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.splashart {
  position: absolute;
  top: 0;
  left: 8rem;
  z-index: 2;
}

.sticker {
  position: absolute;
  right: 5rem;
  top: 5rem;
  z-index: 3;
}

.headingBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.catchphrase {
  position: absolute;
  filter: drop-shadow(0 0 0.6rem black);
  white-space: pre-line;
  font-family: Hanson Bold;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1em;

  z-index: 3;

  right: 10%;
  bottom: 23%;
}

.highlight {
  color: #8054ce;
  display: block;
}

.highlight2 {
  color: white;
}

.subline {
  position: absolute;
  font-family: var(--font-mono);

  right: 10%;
  bottom: 15%;
}

.typewriter::after {
  content: "|";
  animation: blink-caret 0.9s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    content: "";
  }
  50% {
    content: "|";
  }
}

@media (max-width: 950px) {
  .splashart {
    display: none;
  }
}

@media (max-width: 700px) {
  .catchphrase {
    right: 0;
    bottom: 23%;
    margin-left: 1rem;
  }
  .sticker {
    right: 2rem;
    top: 8.5rem;
  }
}
