.portraitSection {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  height: auto;
  width: 100vw;
}

@media (max-width: 700px) {
  .portraitSection {
    height: 20vh;
    min-block-size: fit-content;
  }
}
