.scroll_wrapper {
  position: relative;
  width: 100vw;
  transform: translateX(-6rem);

  background-color: #8054ce;
  padding: 1.5em;
  position: relative;
  z-index: 0;
}
.scrollTxtContainer {
  display: flex;
  gap: 3rem;
}
.scroll_inner {
  color: black;
  font-family: var(--font-mono);
  font-weight: 300;
  font-size: 3rem;
  position: relative;
  z-index: 1;
  gap: 3rem;
}

.whoami {
  display: flex;
  flex-direction: column;
  gap: 10em;
}

.tab {
  background-color: #d9d9d9;
  color: black;
  padding: 1.8rem;
  /* max-width: 50%; */
  max-height: min-content;
}

.whoamiComponents {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}

.topRight {
  width: max-content;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;

  width: 100%;
}

.topRight {
  padding-left: 2.5rem;
  display: flex;
  flex-direction: column;
}

.firstLine {
  display: flex;
  flex-direction: row;
}

.desc {
  margin: 1em 0;
}

.whoamidesc {
  margin: 1em 0;
}

.bottom {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 4em;
}

.threed {
  display: flex;
  flex: 1;
  max-height: 40rem;
  max-width: 45%;
}

.emoji {
  height: 33px;
  width: auto;
}
.firstLine {
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .face {
    width: 6rem;
    height: auto;
  }

  .tab {
    max-width: 90vw;
  }

  .bottom {
    gap: 0.5em;
    flex-direction: column;
  }

  .whoami {
    flex-direction: column;
    gap: 5em;
  }

  .whoamidesc {
    transform: translateX(0);
    width: 60vw;
    padding-top: 0;
  }

  .threed {
    max-width: 100%;
    margin-bottom: 4rem;

    display: flex;
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .scroll_wrapper {
    width: 120vw;
  }

  .elements {
    width: 50vw;
    height: auto;
  }

  .firstLine {
    align-items: center;
  }

  .topRight {
    padding-left: 1rem;
  }

  /* .whoamidesc {
    transform: translateX(-7em);
    padding-top: 0;
    width: 80vw;
  } */

  .title {
    align-items: center;
  }
}
