html {
  background-color: black;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

section {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 4rem 6rem;

  text-align: justify;
}

p {
  font-family: var(--font-mono);
  text-align: justify;
  line-height: 1.4rem;
}

a {
  cursor: url("../images/cursor.cur") 10 14, pointer;
}

li {
  list-style: none;
  min-width: fit-content;
}

span {
  display: inline-block;
}

h1 {
  margin: 0;
  font-weight: normal;
  line-height: 100%;
  font-size: 4rem;
}

h2 {
  font-family: Hanson Bold;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 5rem 0;
}

h3 {
  font-family: Hanson Bold;
  text-transform: uppercase;
  font-size: 2rem;

  line-height: 0.9;
}

#mouse-parallax-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

canvas {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#cardMobile {
  display: none;
}

#card {
  display: block;
  max-width: 50%;
}
#my-canvas {
  width: auto;
}
@media (max-width: 1200px) {
  #cardMobile {
    display: block;
  }
  #card {
    display: none;
  }
}
@media (max-width: 700px) {
  section {
    width: 90vw;
    padding: 0;
  }

  #my-canvas {
    width: 100%;
  }
}
